:root {
  --primary-color: #788f8f;
  --secondary-color: #f9f8fa;
  --soft-color: #e3f6f5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 800px;
  background-color: var(--soft-color);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  color: aquamarine;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.navbar-brand {
  font-weight: bolder;
}
.app-link {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

@media (max-width: 576px) {
  h1,
  p {
    text-align: center;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  .container {
    max-width: 300px;
  }
  .email-link {
    font-size: 12px;
  }
  .app-link {
    margin: 5px;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 10px;
  }
  .navigation-links a {
    font-size: 10px;
    padding: 10px 10px;
  }
}
